:host{
  --active-color: #ccc;
}
h2{
  font-size: 11vmin;
  padding: 1rem 0 0;
}
.team-info {
  background-color: #eee;
  margin-top: -1rem;
}
.team-info .logo {
  float: left;
  max-width: 200px;
  max-height: 200px;
  padding: 1rem;
}
.team-info p {
  margin-bottom: 0;
}
.team-info .shirt {
  display: inline-block;
  --size: 7vmin;
  height: var(--size);
  position: relative;
  width: var(--size);
}
.team-info .shirt img {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 105%;
}

@media (max-width: 768px) {
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .logo{
    float: none;
    width:100px
  }
}
