<div *ngIf="team">
  <div class="team-info clearfix">
    <div class="container">
      <img class="logo" [src]="team.logo_url" [alt]="team.name" />
      <h2>{{ team.name }}
        <span class="shirt" [style.background]="team.colour">
          <img src="../../../assets/shirt-outline-gray.png" />
        </span>
      </h2>
      <p><strong>Budget: </strong> {{ team.budget | currency : 'GBP' }}</p>
      <p><strong>Founded: </strong> {{ team.founded }}</p>
      <p><strong>City: </strong> {{ team.city }}</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <app-team-players class="col-6" [players]="team.players"></app-team-players>
      <app-games class="col-6" [games]="team.games"></app-games>
    </div>
  </div>
</div>
