<div *ngIf="team">
  <div class="team-info clearfix">
    <div class="container">
      <img class="logo" [src]="team.logo_url" [alt]="team.name" />
      <h2>{{ team.name }}
        <span class="shirt" [style.background]="team.colour">
          <img src="../../../assets/shirt-outline-gray.png" />
        </span>
      </h2>
      <p><strong>Budget: </strong> {{ team.budget | currency : 'GBP' }}</p>
      <p><strong>Founded: </strong> {{ team.founded }}</p>
      <p><strong>City: </strong> {{ team.city }}</p>
    </div>
  </div>

  <div class="container pt-4">
  <div class="row">
    <section class="col-6">
      <h3>Players</h3>
      <app-players-list [players]="team.players" [hide]="'Team,Value,Nationality,Age'"></app-players-list>
    </section>

    <section class="col-6">
        <button class="btn btn-primary float-right" (click)="addNewGame = true">Add game</button>
        <h3>Games</h3>
        <app-games [games]="team.games"></app-games>
      </section>
    </div>
  </div>
</div>

<app-modal [modalHeading]="'Add a new game'" (close)="addNewGame = false" *ngIf="addNewGame">
  <app-new-game [teamId]="team.id"></app-new-game>
</app-modal>
