<h2>Teams</h2>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th class="hide-md">Founded</th>
      <th class="hide-md">Budget</th>
      <th>Pts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams" [routerLink]="['/teams', team.id]">
      <td class="text-center"><img height="30" [src]="team.logo_url" [alt]="team.name" /></td>
      <td>{{ team.name }}</td>
      <td class="hide-md">{{ team.founded }}</td>
      <td class="hide-md">{{ team.budget | currency : 'GBP'  }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
