html,
body {
    scroll-behavior: smooth;
}

h2{
  padding: 2rem 1rem;
}

tr:nth-child(2n){
  background-color: var(--light);
}
.players-list th:first-of-type,
.players-list td:first-of-type,
.teams-list th:first-of-type,
.teams-list td:first-of-type {
  width: 50px;
}

@media (max-width: 576px) {
  .hide-md {
    display: none
  }
}
