.list-group-item {
  display: flex;
  justify-content: space-between;
}
.list-group-item span,
.list-group-item strong {
  flex: 1;
  text-align: center;
}
.list-group-item span:first-child,
.list-group-item strong:first-child  {
  flex: 2;
  text-align: left;
}
