<form (ngSubmit)="addGame(form)" name="form" #form="ngForm" novalidate>
  <div class="flex">
    <div class="form-group input material-form" [class.error]="teamOneScore.invalid && form.submitted">
      <input class="form-control" id="teamOneScore" name="teamOneScore" #teamOneScore="ngModel" [(ngModel)]="gameData.team_one_score" type="number" placeholder="Team One Score" required />
      <label class="control-label" for="teamOneScore">Team One Score</label>
    </div>
    <div class="form-group input material-form" [class.error]="teamTwoScore.invalid && form.submitted">
      <input class="form-control" id="teamTwoScore" name="teamTwoScore" #teamTwoScore="ngModel" [(ngModel)]="gameData.team_two_score" type="number" placeholder="Team Two Score" required />
      <label class="control-label" for="teamTwoScore">Team Two Score</label>
    </div>
  </div>

  <div class="form-group material-form" [class.error]="date.invalid && form.submitted">
    <input class="form-control" id="date" name="date" #date="ngModel" type="date" [(ngModel)]="gameData.date" placeholder="Game Date" required />
    <label class="control-label" for="date">Game Date</label>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-block mt-4">Add new result</button>
  </div>
</form>
