<h4>Add a new game result</h4>
<form>
  <div class="form-group material-form">
    <input class="form-control" id="teamOneScore" type="text" placeholder="Team One Score" />
    <label class="control-label" for="teamOneScore">Team One Score</label>
  </div>
  <div class="form-group material-form">
    <input class="form-control" id="teamTwoScore" type="test" placeholder="Team Two Score" />
    <label class="control-label" for="teamTwoScore">Team Two Score</label>
  </div>
  <div class="form-group material-form">
    <input class="form-control" id="date" type="date" placeholder="ate" />
    <label class="control-label" for="date">date</label>
  </div>

  <div class="form-group"><button type="button" class="btn btn-success btn-block mt-4">Add new result</button></div>
</form>
